.DailyWeatherForecast .col {
  text-align: center;
  padding: 15px 0;
  transition: all 150ms ease-in-out;
}
.DailyWeatherForecast .col:hover {
  background-color: #d5f4ff;
  border-radius: 10px;
}
.DailyWeatherForecast-temperature-min {
  opacity: 0.65;
  margin-left: 5px;
}

.OneDayForecast .DailyWeatherForecast-day-accurate {
  margin-bottom: 10px;
}
