.Footer {
  margin: 0 auto;

  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 7px 5px 11px 0px rgba(148, 154, 156, 0.7);
  border-radius: 10px;
  max-width: 400px;
}
.Footer {
  margin-top: 10px;
}
.Footer p {
  color: black;
  opacity: 0.9;
  font-weight: 600;
  text-align: center;
  line-height: 1.7;
}
.Footer a {
  color: black;
  opacity: 0.9;
}
