.WeatherData {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}
.WeatherData h1 {
  opacity: 0.8;
  text-transform: capitalize;
}
.WeatherData h1 small {
  font-size: 25px;
}
.WeatherData li {
  list-style: none;
  margin-left: -30px;
  font-size: 17px;
  opacity: 0.75;
}
.WeatherData .description {
  text-align: center;
  text-transform: capitalize;
  margin-top: 24px;
  padding: 10px;
}
.WeatherData .description canvas {
  margin-left: -20px;
}
.FormattedDate li {
  margin: 0;
}
