body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/059/800/original/Blue_Watercolor_Map_of_the_World.jpg?1671554342");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 10px;
}
.container {
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 7px 5px 11px 0px rgba(148, 154, 156, 0.7);
  border-radius: 10px;
  text-align: left;
  max-width: 750px;
  min-width: 400px;
}
.btn-secondary {
  background-color: #0083ad;
  border: #0083ad;
}
